@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap');

:root {
	
  /* App */
  --ts-var-root-color: #444444;
  --ts-var-root-background: #F7F9FB;
  --ts-var-root-font-family: 'Open-Sans',sans-serif;
  --ts-var-root-text-transform: initial;
	
  --ao-var-primary-color: #00BABE;
  --ao-var-text-light: #767676;
  --ao-var-white: #FFFFFF;
  --ao-var-link-color: #00747A;
  --ao-var-link-hover-color: #004245;
  --ao-var-selectable-row-hover: #F5F6F8;
  --ao-var-row-hover-table-row: #E5F9F9;
  --ao-var-row-hover-table-row-light: #F2FBFB;
  --ao-var-border-color: #E3E3E3;
  --ao-var-dark-blue: #304a71;
  --ao-var-border-active: #ace9eb;
  --ao-var-outine-stroke: #a5d6d7;
  --ao-var-border-radius: 4px;
  --ao-var-focus-teal: #009a9e;
  --ao-var-off-white-focus: #eee;
  --ao-var-gray-light: #f9f9f9;
  --ao-var-chip-base: #EAEDF1;
	
  /* Nav Bar */
  --ts-var-nav-color: var(--ts-var-root-color);
  --ts-var-nav-background: initial;
  --ts-var-search-data-button-font-color: var(--ts-var-root-color);
  --ts-var-search-data-button-background: initial;
  --ts-var-search-data-button-font-family: var(--ts-var-root-font-family);
	
  /* Search Bar */
  --ts-var-search-bar-text-font-color: var(--ts-var-root-color);
  --ts-var-search-bar-text-font-family: var(--ts-var-root-font-family);
  --ts-var-search-bar-text-font-style: initial;
  --ts-var-search-bar-background: initial;
  --ts-var-search-auto-complete-background: initial;
  --ts-var-search-auto-complete-font-color: var(--ts-var-root-color);
  --ts-var-search-auto-complete-subtext-font-color: var(--ao-var-text-light);
  --ts-var-search-navigation-button-background: initial;
  --ts-var-search-bar-navigation-help-text-background: initial;
  --ts-var-search-bar-auto-complete-hover-background: var(--ao-var-selectable-row-hover);
	
  /* Data Panel in Answers Tab */
  --ts-var-answer-data-panel-background-color: initial;
  --ts-var-answer-view-table-chart-switcher-background: initial;
  --ts-var-answer-view-table-chart-switcher-active-background: initial;
  --ts-var-answer-edit-panel-background-color: initial;
	
  /* Button */
  --ts-var-button-border-radius: var(--ao-var-border-radius);
  --ts-var-button--icon-border-radius: initial;
  --ts-var-button--primary-color: var(--ao-var-white);
  --ts-var-button--primary-background: var(--ao-var-primary-color);
  --ts-var-button--primary--hover-background: #08A2A5;
  --ts-var-button--primary--font-family: var(--ts-var-root-font-family);
  --ts-var-button--secondary-color: var(--ts-var-root-color);
  --ts-var-button--secondary-background: #F6F6F6;
  --ts-var-button--secondary--hover-background: #EEEEEE;
  --ts-var-button--secondary--font-family: var(--ts-var-root-font-family);
  --ts-var-button--tertiary-color: var(--ts-var-root-color);
  --ts-var-button--tertiary-background: #F6F6F6;
  --ts-var-button--tertiary--hover-background: #EEEEEE;
	
  /* Chart */
  --ts-var-answer-chart-select-background: initial;
  --ts-var-answer-chart-hover-background: initial;

  /* Viz */
  --ts-var-viz-title-color: var(--ts-var-root-color);
  --ts-var-viz-title-font-family: var(--ts-var-root-font-family);
  --ts-var-viz-title-text-transform: var(--ts-var-root-text-transform);
  --ts-var-viz-description-color: var(--ts-var-root-color);
  --ts-var-viz-description-font-family: var(--ts-var-root-font-family);
  --ts-var-viz-description-text-transform: var(--ts-var-root-text-transform);
  --ts-var-viz-border-radius: var(--ao-var-border-radius);
  --ts-var-viz-box-shadow: initial;
  --ts-var-viz-background: initial;
  --ts-var-viz-legend-hover-background:initial;

  /* Chip */
  --ts-var-chip-border-radius: initial;
  --ts-var-chip-title-font-family: var(--ts-var-root-font-family);
  --ts-var-chip-box-shadow: initial;
  --ts-var-chip-background: var(--ao-var-chip-base);
  --ts-var-chip-color: var(--ts-var-root-color);
  --ts-var-chip--hover-background: #D7DADE;
  --ts-var-chip--hover-color: var(--ts-var-root-color);
  --ts-var-chip--active-background: var(--ao-var-chip-base);
  --ts-var-chip--active-color: var(--ts-var-root-color);

  /* Axis */
  --ts-var-axis-title-color: var(--ts-var-root-color);
  --ts-var-axis-title-font-family: var(--ts-var-root-font-family);
  --ts-var-axis-data-label-color: var(--ts-var-root-color);
  --ts-var-axis-data-label-font-family: var(--ts-var-root-font-family);

  /* Menu */
  --ts-var-menu-color: var(--ts-var-root-color);
  --ts-var-menu-background: initial;
  --ts-var-menu-font-family: var(--ts-var-root-font-family);
  --ts-var-menu-text-transform: var(--ts-var-root-text-transform);
  --ts-var-menu--hover-background: var(--ao-var-selectable-row-hover);
	
  /* Dialog */
  --ts-var-dialog-body-background: initial;
  --ts-var-dialog-body-color: var(--ts-var-root-color);
  --ts-var-dialog-header-background: var(--ao-var-gray-light);
  --ts-var-dialog-header-color: var(--ts-var-root-color);
  --ts-var-dialog-footer-background: initial;
}

.attribute-filter-module__middleContainer {
  border-color: var(--ao-var-border-color);
}

.pinboard-tab-module__tabNameContainer .pinboard-tab-module__tabNameEditor.pinboard-tab-module__tabHighlightOnSelected {
  color: var(--ao-var-link-color);
}

.pinboard-tab-module__tabContainer:hover {
  color: var(--ao-var-link-color);
}

[data-radiant-v2].icon-module__gray {
  fill: var(--ao-var-link-color) !important;
}

.pinboard-tab-module__tabContainer.pinboard-tab-module__tabSelected, .pinboard-tab-panel-module__tabPanelDropdown {
  border-bottom-color: var(--ao-var-link-color);
}

.pinboard-tab-panel-module__dropdownHeader p, .pinboard-tab-panel-module__dropdownHeader:hover p {
  color: var(--ao-var-link-color);
}

.menu-module__item.menu-module__itemActive>.menu-module__itemInfo {
  background-color: var(--ao-var-hover-table-row);
}

.menu-module__item.menu-module__itemActive>.menu-module__itemInfo>.menu-module__itemText p {
  color: var(--ts-var-link-color);
  color: var(--ao-var-link-color);
  font-weight: bold;
}

/* Chip */

.chip-base-module__filter {
  border-color: var(--ts-var-chip-background);
}

/* Tabs */

.tab-module__tabHorizontal .tab-module__headerItem.tab-module__headerItemSelected .tab-module__headerText {
  color: var(--ao-var-link-color);
}

.tab-module__tabHorizontal .tab-module__headerItem:after {
  background-color: var(--ao-var-link-color);
}

.tab-module__tabHorizontal .tab-module__headerItem:focus .tab-module__headerText, .tab-module__tabHorizontal .tab-module__headerItem:hover .tab-module__headerText {
  color: var(--ao-var-link-color);
}

/* Inputs */
[data-radiant-v2] .input-base-module__container {
  border-color: var(--ao-var-border-color);
}

[data-radiant-v2] .input-base-module__container.input-base-module__hasFocus {
  border-color: var(--ao-var-dark-blue); 
  box-shadow: 0 0 0 2px var(--ao-var-border-active);
}

.select-module__select .select-module__selectOpen.select-module__selectHead {
  border-color: var(--ao-var-dark-blue); 
  box-shadow: 0 0 0 2px var(--ao-var-border-active);	
}

.date-picker-module__active .date-picker-module__label { 
  color: var(--ts-var-root-color);
}

.react-datepicker__month-text.react-datepicker__month--selected, .react-datepicker__year-text.react-datepicker__year-text--selected {
  background-color: var(--ao-var-row-hover-table-row);
  color: var(--ao-var-primary-color);
  border-radius: var(--ao-var-border-radius);
}

.sage-completions-dropdown-module__completionsDropdown .sage-completions-dropdown-module__completionSubtext {
  font-weight: 400;
}

/* Textareas */

[data-radiant-v2] .text-area-module__textarea {
  border-color: var(--ao-var-border-color);
  color: var(--ts-var-root-color);
}

[data-radiant-v2] .text-area-module__textarea:focus {
  border-color: var(--ao-var-dark-blue); 
  box-shadow: 0 0 0 2px var(--ao-var-border-active);
}

/* Buttons */

.button-module__backgroundLight.button-module__tertiary {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.button-module__backgroundLight.button-module__primary.button-module__buttonSelected, .button-module__backgroundLight.button-module__primary:not(.button-module__disabled):active {
  background-color: var(--ao-var-focus-teal);
}

.button-module__backgroundLight.button-module__secondary:not(.button-module__disabled):active {
  background-color: var(--ao-var-off-white-focus);
}

/* KPIs */

.kpi-module__comparisonEmpty, .kpi-module__sublabel, .kpi-module__timeBucket {
  color: var(--ao-var-text-light);
}

.kpi-module__backgroundColorComparison:hover {
  background-color: var(--ao-var-selectable-row-hover);
  border-radius: var(--ao-var-border-radius);
}

/* Sticky Header */

.pinboard-header-module__embedPinboardHeader.pinboard-header-module__stickyPinboardHeaderVisible {
  border-radius: 0 0 var(--ts-var-viz-border-radius) var(--ts-var-viz-border-radius);
}

/* Checkboxes */
input[type=checkbox].checkbox-module__nativeCheckbox:indeterminate+.checkbox-module__customCheckbox {
  color: var(--ao-var-link-color);
  border-color: var(--ao-var-outine-stroke);
}

.checkbox-module__customCheckbox, input[type=checkbox].checkbox-module__nativeCheckbox:checked+.checkbox-module__customCheckbox {
  border-color: var(--ao-var-outine-stroke);
}

.checkbox-module__customCheckbox [data-radiant-v2].icon-module__text-color {
  fill: var(--ao-var-link-color);
}

.checkbox-module__label:hover .checkbox-module__customCheckbox {
  border-color: var(--ao-var-primary-color);
}

/* Toggle */

.toggle-module__toggleCheckbox:checked+.toggle-module__toggleSwitchBackground .toggle-module__toggleSwitchMarker {
  background-color: var(--ao-var-primary-color); 
  border-color: var(--ao-var-primary-color); 
}

.toggle-module__toggleCheckbox:checked+.toggle-module__toggleSwitchBackground {
  background-color: var(--ao-var-border-active);
}

/* Tour Tooltip */

.tour-module__tooltip {
  background-color: var(--ao-var-dark-blue);
}

/* Homepage Tabs */

.segment-control-module__segmentedControl .segment-control-module__segmentedItem.segment-control-module__selected .segment-control-module__innerText {
  color: var(--ao-var-link-color);
}
.segment-control-module__segmentedControl .segment-control-module__segmentedItem:hover .segment-control-module__innerText {
    color: var(--ts-var-root-color);
}

.select-module__roundedHead.select-module__selectOpen, .select-module__roundedHead.select-module__selectOpen:focus:not([data-focus-visible-added]) {
  background-color: var(--ao-var-selectable-row-hover);	
}

/* Date Picker */ 

.date-picker-module__button.date-picker-module__textButton {
  color: var(--ao-var-link-color);
}

.react-datepicker__day.react-datepicker__day--range-end, .react-datepicker__day.react-datepicker__day--range-start, .react-datepicker__day.react-datepicker__day--selected {
  background-color: var(--ao-var-row-hover-table-row);
  color: var(--ao-var-link-color);
}

.react-datepicker__day:hover, .react-datepicker__month-text:hover, .react-datepicker__quarter-text:hover, .react-datepicker__year-text:hover {
  background-color: var(--ao-var-selectable-row-hover);
}

/* Tables */

.bk-outline .ag-theme-alpine .ag-row:hover {
  background-color: var(--ao-var-row-hover-table-row-light);
}

.table-module__cellOutline {
  border-color: var(--ao-var-border-active) !important;
}

.table-module__cellSelected {
  background-color: var(--ao-var-row-hover-table-row);
}

.bk-outline .ag-theme-alpine .ag-ltr .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected) {
  border-color: var(--ao-var-border-active) !important;
}

/* Banner */

.banner-alert-module__container {
  color: var(--ts-var-root-color);
}

.banner-alert-module__container.banner-alert-module__info {
  background-color: var(--ao-var-row-hover-table-row);
}

[data-radiant-v2].icon-module__blue {
  fill: var(--ao-var-primary-color);
}

/* Sticky Footer */

.bk-embed-powered-by-ts-ribbon {
  display: none !important;
}
.bk-app-controller-container .bk-app-container .bk-app-content .bk-page-wrapper .bk-powered-by-ts-ribbon {
  display: none;
}

/* Active Filter State */

.pinboard-content-module__gridContainer.pinboard-content-module__crossFilter {
  background-color: var(--ao-var-row-hover-table-row-light);
}

.answer-content-header-module__container.answer-content-header-module__highlightHeaderBlue {
  background: var(--ao-var-link-color); 
}

.pinboard-content-module__tile.pinboard-content-module__crossFiltersImpactedContainer {
  background-image: none;
  border: 2px solid var(--ao-var-link-color);
}

/* Homepage */

.link-module__blue {
  color: var(--ao-var-link-color);
}

.link-module__blue:hover {
  color: var(--ao-var-link-hover-color);
}

.table-list-view-module__listViewContainer .list-view-row-container:hover {
  background: var(--ao-var-row-hover-table-row-light);
}

.table-list-view-module__listViewContainer .ag-row-selected {
  background: var(--ao-var-row-hover-table-row);
}

.select-module__roundedHead.select-module__selectOpen .select-module__selectedValue, .select-module__roundedHead.select-module__selectOpen:focus:not([data-focus-visible-added]) .select-module__selectedValue {
  color: var(--ts-var-root-color);
}

.menu-module__item.menu-module__itemActive>.menu-module__itemInfo>.menu-module__rightText p {
  color: var(--ao-var-link-color);
  font-weight: bold;
}

.facet-sort-bar-module__facetSelectValue {
  color: var(--ao-var-link-color) !important;
}

.avatar-module__nameLink:hover {
  color: var(--ao-var-link-color);
}

.home-container-module__hrStyle {
  display: none;
}

.segment-control-module__segmentedControl, .select-module__roundedHead {
  background-color: var(--ao-var-selectable-row-hover);
}

.select-module__roundedHead:hover, .select-module__roundedHead:hover:focus:not([data-focus-visible-added]) {
  background-color: var(--ao-var-chip-base);
}

.eureka-search-bar-module__withoutSeedQuestions {
  background-color: var(--ao-var-chip-base);
}

/* KPI Carousel */

.home-container-module__homepageCarouselContainer {
  background-color: var(--ts-var-root-background);
  border-color: var(--ao-var-border-color);
}

.homepage-carousel-card-module__card:not(.homepage-carousel-card-module__cardDisabled,.homepage-carousel-card-module__selected):hover {
  border-color: var(--ao-var-link-color);
}

.homepage-carousel-card-module__card .homepage-carousel-card-module__pinboardMetricsCardHeader {
  background: var(--ao-var-link-color);
}

/* Trending Sidebar */

.trending-base-module__trendingWrapper.trending-base-module__hasGrayBackground {
  background-color: var(--ts-var-root-background);
}

/* Tags */

.tag-cell-module__tag .link-module__black {
  color: var(--ts-var-root-color);
}

