@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400&display=swap');
@import url('https://6ix.com/ix-modules/fonts/css/fntello.css');
@import url('https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css');

:root {
	
  /* App */
  --ts-var-root-color: #444444;
  --ts-var-root-background: #F7F9FB;
  --ts-var-root-font-family: 'Open-Sans',sans-serif;
  --ts-var-root-text-transform: initial;
	
  --ao-var-primary-color: #00BABE;
  --ao-var-white: #FFFFFF;
  --ao-var-link-color: #00747A;
  --ao-var-selectable-row-hover: #F5F6F8;
  --ao-var-row-hover-table-row: #E5F9F9;
  --ao-var-border-color: #E3E3E3;
  --ao-var-dark-blue: #304a71;
  --ao-var-border-active: #ace9eb;
  --ao-var-outine-stroke: #a5d6d7;
	
  /* Nav Bar */
  --ts-var-nav-color: var(--ts-var-root-color);
  --ts-var-nav-background: initial;
  --ts-var-search-data-button-font-color: var(--ts-var-root-color);
  --ts-var-search-data-button-background: initial;
  --ts-var-search-data-button-font-family: var(--ts-var-root-font-family);
	
  /* Search Bar */
  --ts-var-search-bar-text-font-color: var(--ts-var-root-color);
  --ts-var-search-bar-text-font-family: var(--ts-var-root-font-family);
  --ts-var-search-bar-text-font-style: initial;
  --ts-var-search-bar-background: initial;
  --ts-var-search-auto-complete-background: initial;
  --ts-var-search-auto-complete-font-color: var(--ts-var-root-color);
  --ts-var-search-auto-complete-subtext-font-color: initial;
  --ts-var-search-navigation-button-background: initial;
  --ts-var-search-bar-navigation-help-text-background: initial;
  --ts-var-search-bar-auto-complete-hover-background: initial;
	
  /* Data Panel in Answers Tab */
  --ts-var-answer-data-panel-background-color: initial;
  --ts-var-answer-view-table-chart-switcher-background: initial;
  --ts-var-answer-view-table-chart-switcher-active-background: initial;
  --ts-var-answer-edit-panel-background-color: initial;
	
  /* Button */
  --ts-var-button-border-radius: 4px;
  --ts-var-button--icon-border-radius: initial;
  --ts-var-button--primary-color: var(--ao-var-white);
  --ts-var-button--primary-background: var(--ao-var-primary-color);
  --ts-var-button--primary--hover-background: #08A2A5;
  --ts-var-button--primary--font-family: var(--ts-var-root-font-family);
  --ts-var-button--secondary-color: var(--ts-var-root-color);
  --ts-var-button--secondary-background: #F6F6F6;
  --ts-var-button--secondary--hover-background: #EEEEEE;
  --ts-var-button--secondary--font-family: var(--ts-var-root-font-family);
  --ts-var-button--tertiary-color: var(--ao-var-primary-color);
  --ts-var-button--tertiary-background: #E5F9F9;
  --ts-var-button--tertiary--hover-background: #DBEEEE;
	
  /* Chart */
  --ts-var-answer-chart-select-background: initial;
  --ts-var-answer-chart-hover-background: initial;

  /* Viz */
  --ts-var-viz-title-color: var(--ts-var-root-color);
  --ts-var-viz-title-font-family: var(--ts-var-root-font-family);
  --ts-var-viz-title-text-transform: var(--ts-var-root-text-transform);
  --ts-var-viz-description-color: var(--ts-var-root-color);
  --ts-var-viz-description-font-family: var(--ts-var-root-font-family);
  --ts-var-viz-description-text-transform: var(--ts-var-root-text-transform);
  --ts-var-viz-border-radius: initial;
  --ts-var-viz-box-shadow: initial;
  --ts-var-viz-background: initial;
  --ts-var-viz-legend-hover-background:initial;

  /* Chip */
  --ts-var-chip-border-radius: initial;
  --ts-var-chip-title-font-family: var(--ts-var-root-font-family);
  --ts-var-chip-box-shadow: initial;
  --ts-var-chip-background: #EAEDF1;
  --ts-var-chip-color: var(--ts-var-root-color);
  --ts-var-chip--hover-background: #D7DADE;
  --ts-var-chip--hover-color: var(--ts-var-root-color);
  --ts-var-chip--active-background: #EAEDF1;
  --ts-var-chip--active-color: var(--ts-var-root-color);

  /* Axis */
  --ts-var-axis-title-color: var(--ts-var-root-color);
  --ts-var-axis-title-font-family: var(--ts-var-root-font-family);
  --ts-var-axis-data-label-color: var(--ts-var-root-color);
  --ts-var-axis-data-label-font-family: var(--ts-var-root-font-family);

  /* Menu */
  --ts-var-menu-color: var(--ts-var-root-color);
  --ts-var-menu-background: initial;
  --ts-var-menu-font-family: var(--ts-var-root-font-family);
  --ts-var-menu-text-transform: var(--ts-var-root-text-transform);
  --ts-var-menu--hover-background: var(--ao-var-selectable-row-hover);
	
  /* Dialog */
  --ts-var-dialog-body-background: initial;
  --ts-var-dialog-body-color: var(--ts-var-root-color);
  --ts-var-dialog-header-background: initial;
  --ts-var-dialog-header-color: var(--ts-var-root-color);
  --ts-var-dialog-footer-background: initial;
}

.pinboard-tab-module__tabNameContainer .pinboard-tab-module__tabNameEditor.pinboard-tab-module__tabHighlightOnSelected {
  color: var(--ao-var-link-color);
}

.pinboard-tab-module__tabContainer:hover {
  color: var(--ao-var-link-color);
}

[data-radiant-v2].icon-module__gray {
  fill: var(--ao-var-link-color) !important;
}

.pinboard-tab-module__tabContainer.pinboard-tab-module__tabSelected, .pinboard-tab-panel-module__tabPanelDropdown {
  border-bottom-color: var(--ao-var-link-color);
}

.pinboard-tab-panel-module__dropdownHeader p, .pinboard-tab-panel-module__dropdownHeader:hover p {
  color: var(--ao-var-link-color);
}

.menu-module__item.menu-module__itemActive>.menu-module__itemInfo {
  background-color: var(--ao-var-hover-table-row);
}

.menu-module__item.menu-module__itemActive>.menu-module__itemInfo>.menu-module__itemText p {
  color: var(--ts-var-root-color);
}

.chip-base-module__filter {
  border-color: var(--ao-var-border-color);
}

/* Tabs */

.tab-module__tabHorizontal .tab-module__headerItem.tab-module__headerItemSelected .tab-module__headerText {
  color: var(--ao-var-link-color);
}

.tab-module__tabHorizontal .tab-module__headerItem:after {
  background-color: var(--ao-var-link-color);
}

.tab-module__tabHorizontal .tab-module__headerItem:focus .tab-module__headerText, .tab-module__tabHorizontal .tab-module__headerItem:hover .tab-module__headerText {
  color: var(--ao-var-link-color);
}

/* Inputs */
[data-radiant-v2] .input-base-module__container {
  border-color: var(--ao-var-border-color);
}

[data-radiant-v2] .input-base-module__container.input-base-module__hasFocus {
  border-color: var(--ao-var-dark-blue); 
  box-shadow: 0 0 0 2px var(--ao-var-border-active);
}

/* Textareas */

[data-radiant-v2] .text-area-module__textarea:focus {
  border-color: var(--ao-var-dark-blue); 
  box-shadow: 0 0 0 2px var(--ao-var-border-active);
}

[data-radiant-v2] .text-area-module__textarea {
  border-color: var(--ao-ar-border-color);
  color: var(--ts-var-root-color);
}

  /* Checkboxes */
input[type=checkbox].checkbox-module__nativeCheckbox:indeterminate+.checkbox-module__customCheckbox {
  color: var(--ao-var-link-color);
  border-color: var(--ao-var-outine-stroke);
}

.checkbox-module__customCheckbox, input[type=checkbox].checkbox-module__nativeCheckbox:checked+.checkbox-module__customCheckbox {
  border-color: var(--ao-var-outine-stroke);
}

.checkbox-module__customCheckbox [data-radiant-v2].icon-module__text-color {
  fill: var(--ao-var-link-color);
}

.checkbox-module__label:hover .checkbox-module__customCheckbox {
  border-color: var(--ao-var-primary-color);
}

/* Toggle */

.toggle-module__toggleCheckbox:checked+.toggle-module__toggleSwitchBackground .toggle-module__toggleSwitchMarker {
  background-color: var(--ao-var-primary-color); 
  border-color: var(--ao-var-primary-color); 
}

.toggle-module__toggleCheckbox:checked+.toggle-module__toggleSwitchBackground {
  background-color: var(--ao-var-border-active);
}
